/* Body Style */
body
{
    background-color: rgb(0, 41, 111);
}
/* Form Style */
.login-form,
.forgot-password-form,
.register-form,
.activation-msg,
.dash-board-container,
.short-url-form,
.url-list,
.url-stats
{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(81, 81, 81);
}

.card
{
    background-color: rgb(248, 248, 248);
}

.login-form:hover,
.forgot-password-form:hover,
.register-form:hover
{
    box-shadow: 0px 0px 5px rgb(85, 85, 85);
}

/* Input Style */
.email-input,
.password-input,
.fname-input,
.lname-input,
.reset-password-input,
.short-url-input
{
    border: 2px solid rgb(50, 50, 50);
}